body {
  background-color: #0f0f0f;
  background-image: url("../images/background.png");
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* ========== Utils ==========*/

.mobile {
  display: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.hero-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/bg.jpg");
  height: 100vh;
}

p,
h1,
h2,
a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #0f0f0fb4;
  z-index: 10;
}

input[type="checkbox"] {
  display: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  text-transform: uppercase;
  list-style: none;
  padding: 15px;
}

li a {
  text-transform: uppercase;
  font-size: 0.85em;
  padding-bottom: 13px;
  border-bottom: 1px solid transparent;
}

li a:hover,
main p a {
  border-bottom: 1px solid #ffffff;
}

main {
  color: #ffffff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

main h1 {
  font-size: 4em;
  text-transform: capitalize;
}

main p {
  padding: 0 10px;
  line-height: 20px;
  max-width: 400px;
  min-width: 200px;
}

/* ========== Reservation ==========*/

.reservation {
  text-decoration: none;
  color: #ffffff;
  background-color: #101011;
  border: 2px solid transparent;
  padding: 15px;
}
.reservation:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.reservation:active {
  transform: scale(0.98);
}

.mail,
.reservation {
  text-transform: capitalize;
}

.mail {
  border: 2px solid #ffffff;
  padding: 10px;
}

.mail:hover {
  background-color: #101011;
  border-color: transparent;
}

/* ========== Map ==========*/

iframe {
  border: none;
}

.map {
  margin: 20px 0;
}

.hidden {
  display: none;
}

/* ========== Contact Us ==========*/

.contact-container {
  display: flex;
  margin: 50px auto;
  background-color: #f7f7f7;
  box-sizing: border-box;
  color: #0f0f0f;
}

.contact-container form,
.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.contact-info {
  background-color: #0c0c0c;
  color: #f1f1f1;
  gap: 100px;
  justify-content: flex-start;
  position: relative;
}

.contact-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/contact-bg.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(20%);
}

.contact-info p {
  z-index: 10;
  color: #f1f1f1;
}

.contact-info p:first-of-type {
  font-weight: 600;
  font-size: 1.3em;
}

.contact-container form {
  gap: 20px;
  position: relative;
}

.contact-container form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-container form p {
  font-weight: 600;
  font-size: 1.3em;
  color: #0f0f0f;
}

.contact-container form label {
  font-size: 0.7em;
  font-weight: 600;
  color: #5a5a5a;
}

.contact-container textarea,
.contact-container form input {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #c4c4c49c;
  padding: 15px;
  font-family: sans-serif;
}

.contact-container input[type="submit"] {
  background-color: #222222;
  color: #ffffff;
  align-self: center;
  padding: 13px 30px;
  align-self: flex-end;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact-container input[type="submit"]:hover {
  cursor: pointer;
  background-color: #161616;
}

.contact-container input[type="submit"]:active {
  transform: scale(0.98);
}

.contact-container input:focus,
.contact-container textarea:focus {
  outline-color: #c7c7c7;
}

/* reservation */
.reservation-hero-img {
  background-image: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.reservation-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
} */

/* ========== About Us ==========*/
.about-us-hero-img {
  background-image: url("../images/chef7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 10px;
  gap: 20px;
}
.about-us-content h2 {
  font-family: serif;
  font-size: 3em;
  text-align: end;
}

.about-us-content p:first-of-type {
  text-align: end;
  max-width: 500px;
  align-self: flex-end;
}

.about-us-content p:last-of-type {
  font-size: 1.2em;
  text-align: center;
  justify-content: flex-end;
}

.about-us-content p:last-of-type::after {
  content: "\2965";
  color: #f1f1f1;
  font-size: 2em;
  display: block;
  margin-top: 10px;
}

.chef-container {
  margin: 50px 0;
  box-sizing: border-box;
  display: grid;
  grid-template: auto/ repeat(2, 1fr);
  gap: 20px;
  padding: 0 10px;
}

.chef-container div {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 20px;
}

.chef-container div img {
  grid-column: 1 / 2;
  grid-row: 1/3;
}

.chef-container div h2 {
  font-family: serif;
  font-size: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}

.chef-container div p {
  align-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 0.8em;
  line-height: 17px;
}

/* ========== Menu ==========*/
.menu-container {
  background-color: #0f0f0f;
  margin: 50px 0;
  padding: 30px 0;
}

.menu-container > p {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 30px;
  background-color: #0f0f0fe5;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 30px;
  column-gap: 10px;
}

.menu-card {
  /* padding: 20px; */
  box-sizing: border-box;
  /* background-color: #1d1d1d98; */
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 2fr 1fr;
  align-items: center;
}

.menu-card img {
  grid-column: 1 / 2;
  grid-row: 1/3;
  width: 100%;
}

.menu-card p:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 20px;
}
.menu-card p:nth-of-type(2) {
  font-size: 0.6em;
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 20px;
}
.menu-card p:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/3;
  justify-self: center;
}

/* ========== Footer ==========*/

footer {
  background-color: #000000a1;
}
footer p {
  color: #bebebe;
  font-size: 10px;
  text-align: center;
  padding: 45px 0;
}
