/* music and meal */

.music {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-self: center;
    height: 100%;
    margin: 50px 0;
  }

.music .container{
    width: 100%;
    display: flex;
}

.music .container .menu-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #20202094;
    padding: 20px;
}

.music .container .menu-cards-container > p{
    text-align: center;
    font-size: 1.5em;
}

.music .menu-cards{
    display: flex;
    /* justify-content: space-between; */
}

.music .menu-cards .menu-card{
    width: 200px;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.music .menu-cards .menu-card p{
    padding-bottom: 10px;
    font-size: 1em;
    color: #ffffff;
}
