@media screen and (max-width: 950px) {
  /* ========== Utils ==========*/
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  /* ========== Preloader ==========*/
  .preload img {
    width: 200px;
  }
  
  /* ========== Mob Nav ==========*/
  .burger-button img {
    width: 30px;
  }

  .mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 500ms;
    background-color: #0c0c0c;
    z-index: 15;
    color: #ffffff;
  }

  .navigation {
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .mobile-nav .navigation a {
    color: #ffffff;
    font-size: 1.7em;
  }

  .exit-button {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    z-index: 6;
  }

  /* ========== About us ==========*/
  .chef-container div {
    display: flex;
    flex-direction: column;
  }

  .chef-container div:nth-of-type(3),
  .chef-container div:nth-of-type(4) {
    flex-direction: column;
  }

  .chef-container p {
    padding: 40px;
    text-align: center;
    line-height: 20px;
  }

  .chef-container div img {
    width: 100%;
  }

  /* ========== Contact ==========*/
  .contact-container {
    flex-direction: column;
    width: 70%;
  }

  .contact-container form,
  .contact-info {
    width: 100%;
    box-sizing: border-box;
  }

  /* ========== Footer ==========*/
  .footer-container {
    grid-template: repeat(2, 1fr) 20px / repeat(3, 1fr);
  }

  .footer-container > p {
    grid-row: 3/4;
  }

  .footer-contact-info {
    grid-column: 1/3;
  }
}

@media (max-width: 620px) {
  /* ========== Reservation ==========*/
  .reservation-container .container {
    flex-direction: column;
    padding: 0;
  }

  .reservation-container form,
  .reservation-text {
    margin-bottom: 50px;
    flex: 100%;
  }

  /* ========== Contact ==========*/
  .contact-container {
    margin: 80px 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 420px) {
  /* ========== Reservation ==========*/
  .reservation-container form {
    flex: 50%;
    display: grid;
    gap: 20px;
    grid-template: repeat(6, 1fr) 50px / repeat(2, minmax(70px, 1fr));
    grid-template-areas:
      "name name"
      "phone phone"
      "email email"
      "time time"
      "date date"
      "person person"
      "send send";

    background-color: #0c0c0c88;
    padding: 50px;
    box-sizing: border-box;
  }

  /* ========== Menu ==========*/
  .menu-cards {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .menu-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .menu-card img {
    border-radius: 5px;
  }

  .menu-card p:last-of-type {
    padding-bottom: 20px;
  }
  .about-us-content p:first-of-type {
    word-wrap: break-word;
  }

  /* ========== About Us ==========*/
  .about-us-content {
    padding: 20px;
  }

  .about-us-content p {
    overflow: auto;
  }

  .chef-container {
    display: flex;
    flex-direction: column;
  }

  /* ========== Footer ==========*/
  .footer-container {
    grid-template: 220px 230px 150px 20px / repeat(2, 1fr);
  }

  .footer-container > p {
    grid-row: 4/5;
  }

  .footer-icons {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .footer-contact-info {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
