@media screen and (max-width: 950px) {
  .active {
    border-bottom: 2px solid #101011;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  header{
    position: static;
  }

  /* mobile navigation */
  .burger-menu-icon {
    width: 30px;
  }

  .mobile-nav {
    display: none;
  }

  input:checked ~ .mobile-nav {
    display: block;
  }

  input:checked ~ label .exit-button::after {
    content: "\2716";
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2em;
    z-index: 100;
  }

  .mobile-nav .navigation {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 10;
  }

  .mobile-nav .navigation a {
    color: #101011;
  }

  /* contact form */
  .contact-container {
    flex-direction: column;
    width: 70%;
  }

  .contact-container form,
  .contact-info {
    width: 100%;
    box-sizing: border-box;
  }

  
  .chef-container div {
    display: flex;
   flex-direction: column;
  }

  
  .chef-container div img{
    width: 100%;
   }

   /* ========== Top button ==========*/

.top {
  width: 50px;
  height: 50px;
  background-color: #b6b6b62c;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: none;
  color: #ffffff;
}

}

@media (max-width: 620px) {
  /* contact form */
  .contact-container {
    margin: 80px 0;
    width: 100%;
    border-radius: 0;
  }

  .music .container .menu-cards-container {
    padding: 0;
  }
  .music .container .menu-cards-container .menu-card {
    padding: 0;
  }
}

@media (max-width: 420px) {
  .menu-cards {
    display: flex;
    flex-direction: column;
  }

  .menu-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* width: 100%; */
  }

  .menu-card p:last-of-type {
    padding-bottom: 20px;
  }
  .about-us-content p:first-of-type {
    word-wrap: break-word;
  }

  .chef-container {
    display: flex;
    flex-direction: column;
  }
}
